#page-publications {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.6rem;
    padding-inline: 3.2rem;
    height: 90px;

    h1 {
      font-size: 1.6rem;
      margin-block: 0;
    }
  }

  #banner {
    .slick-slide {
      img {
        width: 100%;
      }
    }
  }

  #publications-content {
    background-color: $white;
    height: calc(100% - 90px);
    padding-bottom: 1.6rem;

    #categories {
      display: flex;
      padding-block: 2.4rem;

      .category {
        margin-right: 2rem;
        text-decoration: none;
        text-align: center;
        color: $black;
        transition: $t-1;

        p {
          font-size: 14px;
          margin-block: 0;
        }

        &:active,
        &:hover {
          color: $c-2;
        }
      }
    }

    #search {
      margin-bottom: 2.4rem;

      form {
        display: flex;

        button {
          margin-left: 1.2rem;
          border: 0;
        }
      }
    }

    #publications-list {
      .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.6rem;

        h2 {
          margin: 0;
        }
      }

      .items {
        .item {
          display: flex;
          align-items: center;
          // border: 1px solid $black;
          padding: 0.8rem 1.2rem;
          border-radius: 10px;
          box-shadow: 0 2px 6px 0 rgba($black, 0.2);
          margin-bottom: 1.2rem;

          .picture {
          }

          .information {
            font-size: 1.4rem;
            margin-left: 1rem;

            p {
              margin: 0;
            }

            .title {
              color: $c-2;
              margin: 0 0 0.8rem;

              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              white-space: break-spaces;
              overflow: hidden;
            }

            .description {
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              white-space: break-spaces;
              overflow: hidden;
              margin-bottom: 0.8rem;
            }

            .date {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}
