* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $c-1;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  padding-inline: 1.6rem;
  margin-inline: auto;
}

.form-group {
  margin-bottom: 1.6rem;

  &.error {
    .form-control {
      border-color: red;
    }
  }
}

.form-control {
  color: $black;
  width: 100%;
  height: 40px;
  padding: 8px;
  border: 1px solid $black;
  border-radius: 10px;

  &:focus {
    box-shadow: none;
  }

  &:focus-visible {
    box-shadow: none;
    outline: initial;
  }
}
